@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .side-panel {
        display: none;
    }

    .promo {
        padding-top: 32vh;
    }

    .about {
        &__wrapper {
            column-gap: 50px;
        }

        &__skills {
            gap: 30px 36px;
        }
    }

    .resume {
        &__wrapper {
            column-gap: 80px;
        }
    }

    // .tools {
    //     &__wrapper {
    //         grid-template-columns: repeat(3,270px);
    //     }
    // }

    .progress {
        &__wrapper {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            justify-content: center;
        }
        
        &__card {
            &_big-vert, &_big-hor {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }

    .contacts {
        &__triggers {
            grid-template-columns: 210px auto;
            gap: 20px;
        }

        &__policy {
            input {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .title {
        &_fz36 {
            font-size: 30px;
        }
    
        &_central-title {
            margin-bottom: 1px;
        }
    }

    .devider {
        &_central {
            margin-bottom: 40px;
        }
    }

    .promo {
        &__title {
            font-size: 40px;
            line-height: 48px;
            width: 400px;
        }
    }

    .about {
        &__wrapper {
            grid-template-columns: 300px minmax(auto, 570px);
            column-gap: 40px;
        }

        &__skills {
            grid-template-columns: auto;
            gap: 20px 36px;
        }
    }

    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 333px);
            column-gap: 55px;
        }
    }

    // .tools {
    //     &__wrapper {
    //         grid-template-columns: repeat(2,270px);
    //     }
    // }

    .progress {
        &__wrapper {
            grid-template-columns: repeat(2, minmax(auto, 300px));
            justify-content: center;
        }
    }

    .prices {
        &__wrapper {
            padding: 0;

            grid-template-columns: repeat(auto-fit, 330px);
            row-gap: 20px;
        }
    }

    .contacts {
        &__wrapper {
            grid-template-columns: auto;
        }

        &__photo {
            display: none;
        }

        &__triggers {
            grid-template-columns: 219px auto;
            gap: 35px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100vw;
        padding: 0 10px;
    }

    .title {
        &_fz48 {
            font-size: 26px;
            line-height: 39px;
        }
    }

    .promo {
        margin-bottom: 40px;

        &__title {
            font-size: 26px;
            line-height: 39px;
            width: 300px;
        }
    }

    .about {
        margin-bottom: 60px;

        &__wrapper {
            grid-template-columns: auto;
            grid-template-rows: minmax(auto, 400px) auto auto;
            row-gap: 20px;
        }

        &__photo {
            margin-bottom: 20px;
            grid-row: unset;
        }

        &__skills {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px 36px;
        }
    }

    .resume {
        margin-bottom: 20px;

        &__wrapper {
            grid-template-columns: 425px;
            column-gap: 55px;
        }
    }

    .tools {
        margin-bottom: 60px;
    }

    .progress {
        margin-bottom: 60px;

        &__wrapper {
            column-gap: 35px;
        }
    }

    .portfolio {
        margin-bottom: 40px;
    }    

    .prices {
        margin-bottom: 60px;

        &__wrapper {
            grid-template-columns: repeat(auto-fit, 370px);
            column-gap: 30px;
            justify-content: center;
        }
    }

    .contacts {
        margin-bottom: 50px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100vw;
        padding: 0 10px;
    }

    .title {
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }

        &_central-subtitle {
            margin-bottom: 26px;
        }
    
        &_central-title {
            margin-bottom: 12px;
        }
    }

    .burger {
        right: 20px;
    }

    .menu {
        &__block {
            padding-left: 20px;
            width: 250px;
        }

        &__socials {
            bottom: 50px;
        }
    }

    .promo {
        background-position-x: 58%;
    }

    .about {
        margin-bottom: 60px;

        &__wrapper {
            grid-template-columns: auto;
            grid-template-rows: minmax(auto, 340px) auto auto;
            row-gap: 20px;
        }

        &__photo {
            margin-bottom: 20px;
            grid-row: unset;
        }

        &__subtitle {
            margin-bottom: 26px;
        }

        &__title {
            margin-bottom: 12px;
        }

        &__skills {
            grid-template-columns: 1fr;
            gap: 40px 36px;
        }
    }

    .resume {
        margin-bottom: 30px;

        &__wrapper {
            grid-template-columns: minmax(auto, 425px);
            // grid-template-columns: 1fr;
            row-gap: 30px;
        }

        &__item {
            margin-bottom: 15px;

            &-head {
                width: 98%;
            }
        }
    }

    .tools {
        margin-bottom: 40px;

        .devider {
            margin-bottom: 20px;
        }

        &__wrapper {
            // grid-template-columns: 270px;
            gap: 20px;
        }
    }

    .progress {
        margin-bottom: 40px;

        &__wrapper {
            grid-template-columns: minmax(auto, 350px);
            row-gap: 40px;
        }
    }

    .portfolio {
        &__wrapper {
            gap: 20px;
        }
    }

    .prices {
        margin-bottom: 40px;

        &__wrapper {
            grid-template-columns: repeat(auto-fit, 300px);
        }

        &__item {
            column-gap: 20px;

            &:nth-child(2) {
                order: 1;
            }
            &:nth-child(4) {
                order: 2;
            }
            &:nth-child(6) {
                order: 3;
            }
        }
    }

    .contacts {
        margin-bottom: 40px;

        &__wrapper {
            padding: 0;
        }

        &__subtitle {
            margin-bottom: 26px;
        }

        &__title {
            margin-bottom: 12px;
        }

        &__form {
            grid-template-columns: auto;
            grid-template-rows: 45px 45px 140px auto;
        }

        &__textarea, &__triggers {
            grid-column: unset;
        }

        &__triggers {
            grid-template-columns: auto;
            gap: 20px;
            width: 220px;
            justify-self: center;

            transform: translateY(-10px);
        }

        &__policy {
            order: -1;
            justify-self: center;
            width: 180px;

            display: flex;
            align-items: center;

            input {
                margin-right: 10px;
            }
        }

        &__btn {
            transform: none;
        }
    }
}